@mixin pressed-key() {
  border-radius: 30px;
  background-color: navy;
}

.text-input {
  width: auto;
  height: auto;
  padding: 15px;
}

.keyboard-area {
  width: 100%;
  max-width: 1500px;
  min-width: 700px;
  padding: 5px 0;
  user-select: none;
  background-color: gainsboro;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  width: auto;
  max-width: 230px;
  min-width: 75px;
  min-height: 65px;
  padding: 15px 20px;
  margin: 7px;
  border-radius: 5px;
  color: whitesmoke;
  background-color: #252525;
  font-family: Arial, sans-serif;
  font-size: 21px;
  cursor: pointer;
  transition: border-radius .3s,background .2s;
}

.wide {
  padding: 15px 80px;
}

.keyboard__key:hover {
  background-color: mediumblue;
}

.keyboard__key:active {
  @include pressed-key();
}

.physical-key-press {
  @include pressed-key();
}



